<h1> All Tags</h1>
<h4>
  <ul id="tags">
    <% @tag.each do |tag| %>
    <li>
      <%= link_to tag, tag_path(tag), class: 'tag' %>
    </li>
    <%end%>
  </ul>
</h4>
<%= link_to "List of articles", articles_path %>
